img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  background: #fff;
  color: #062529;
  font-size: 14px;
}

.header {
  padding-top: 30px;
  margin-bottom: 30px;
}
.header__logo {
  width: 50px;
}
.header__logo-link {
  color: #062529;
  text-decoration: none;
  font-family: serif;
}
.header__inner {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}
.header__btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__item {
  margin-right: 20px;
}
.header__item-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #062529;
}
.header__icon {
  width: 30px;
  margin-left: 20px;
}

.footer {
  background: #062529;
  color: #fff;
  padding-top: 60px;
  margin-top: 100px;
}
.footer__inner {
  width: 50%;
  max-width: 1280px;
  margin: 0 auto;
}
.footer__title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-family: serif;
}
.footer__list {
  margin-top: 50px;
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__item-link {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.footer__copy {
  background: #000;
  padding: 15px 0;
}
.footer__copy-inner {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__small {
  font-weight: bold;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__icon {
  display: block;
  margin-left: 10px;
}
.footer__img {
  width: 30px;
}

.mainv {
  background: url(../images/white.png) no-repeat center center/cover;
  padding-top: 100px;
  margin: 0 0 150px;
}
.mainv__title {
  font-family: serif;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0.1em;
}

.items__inner {
  width: 75%;
  max-width: 1050px;
  margin: 0 auto;
}
.items__title {
  color: #062529;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}
.items__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.items__link {
  position: relative;
  color: #062529;
  text-decoration: none;
  display: block;
  margin-bottom: 30px;
  width: 32%;
  margin-right: 2%;
}
.items__link:nth-child(3n) {
  margin-right: 0;
}
.items__texts {
  background: #ededed;
  padding: 15px;
  position: relative;
}
.items__name {
  margin-bottom: 50px;
}
.items__price {
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.items__more {
  display: block;
  margin-top: 50px;
  width: 200px;
  padding: 15px;
  border: 1px solid #062529;
  margin: 50px auto 0;
}
.items__out {
  position: absolute;
  top: 0;
  left: 0;
}
.items__span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.pros__inner {
  width: 75%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.pros__images {
  width: 40%;
}
.pros__mainimg {
  width: 100%;
}
.pros__subimg {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}
.pros__info {
  width: 55%;
}
.pros__miniimg {
  width: 22%;
}
.pros__maker {
  font-weight: bold;
  color: #888;
}
.pros__name {
  font-size: 24px;
}
.pros__name-mobile {
  display: block;
}
.pros__name-window {
  display: none;
}
.pros__prices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.pros__out {
  margin-left: 10px;
  color: #f00;
}
.pros__price {
  font-size: 24px;
  font-weight: bold;
}
.pros__cart {
  color: #fff;
  text-decoration: none;
  display: block;
  background: #062529;
  width: 200px;
  text-align: center;
  padding: 10px 5px 10px 0;
  margin: 20px 0 0;
}
.pros__num {
  border: 1px solid #888;
  border-radius: 5px;
  padding: 0 3px;
  margin-left: 0px;
  font-size: 14px;
  background: #fff;
}
.pros__label {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #444;
}
.pros__text {
  margin-bottom: 30px;
}
.pros__option {
  background: #efefef;
  padding: 20px;
}
.pros__option-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.pros__colors {
  margin-right: 20px;
  border-right: 1px solid #062529;
  padding-right: 20px;
}
.pros__care {
  margin-top: 15px;
  color: #888;
}
.pros__care-text {
  color: #888;
}
.pros__care-text-mail {
  margin-top: 20px;
}
.pros__mail {
  color: #00f;
}

@media (max-width: 640px) {
  .header {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .header__list {
    display: none;
  }
  .footer__inner {
    width: 75%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .mainv {
    padding-top: 70px;
    margin-bottom: 60px;
  }
  .mainv__title {
    font-size: 40px;
    letter-spacing: 0.1em;
  }
  .items__inner {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .items__content {
    justify-content: space-between;
  }
  .items__link {
    position: relative;
    color: #062529;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
    width: 45%;
    margin-right: 5%;
  }
  .items__link:nth-child(2n) {
    margin-right: 0;
  }
  .items__span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 0px solid white;
  }
  .pros__inner {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .pros__images {
    width: 100%;
  }
  .pros__info {
    width: 100%;
  }
  .pros__name-mobile {
    display: none;
  }
  .pros__name-window {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .pros__price {
    margin-top: 0px;
  }
  .pros__prices {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */