@charset "utf-8";

$black: #062529;

@mixin inner($w: 85%, $mw: 1280px) {
    width: $w;
    max-width: $mw;
    margin: 0 auto;
}

@mixin flex($j: space-between, $a: flex-start) {
    display: flex;
    justify-content: $j;
    align-items: $a;
}

$black: #062529;

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

body {
    background: #fff;
    color: $black ;
    font-size: 14px;
}

.header {
    padding-top: 30px;
    margin-bottom: 30px;

    &__logo {
        width: 50px;

        &-link {
            color: $black;
            text-decoration: none;
            font-family: serif;
        }

    }

    &__inner {
        @include inner;
        @include flex($a: center);
    }

    &__nav {
        @include flex($j: flex-end, $a: center);
        width: 60%;
    }

    &__list {
        @include flex;
        list-style: none;
    }

    &__btns {
        @include flex;
    }

    &__item {
        &-link {
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: $black;
        }

        margin-right: 20px;
    }

    &__icon {
        width: 30px;
        margin-left: 20px;
    }
}

.footer {
    background: $black;
    color: #fff;
    padding-top: 60px;
    margin-top: 100px;

    &__inner {
        @include inner($w: 50%);
    }

    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        font-family: serif;
    }

    &__list {
        margin-top: 50px;
        margin-bottom: 50px;
        list-style: none;
        @include flex();


    }

    &__item {
        &-link {
            display: block;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
        }

    }

    &__copy {
        background: #000;
        padding: 15px 0;

        &-inner {
            @include inner();
            @include flex($a: center);
        }
    }

    &__small {
        font-weight: bold;
    }

    &__icons {
        @include flex;
    }

    &__icon {
        display: block;
        margin-left: 10px;
    }

    &__img {
        width: 30px;
    }


}

.mainv {
    background: url(../images/white.png) no-repeat center center / cover;
    padding-top: 100px;
    margin: 0 0 150px;

    &__title {
        font-family: serif;
        font-size: 100px;
        text-align: center;
        letter-spacing: 0.1em;
    }
}

.items {

    &__inner {
        @include inner($w: 75%, $mw: 1050px);
    }

    &__title {
        color: $black;
        text-align: center;
        font-size: 36px;
        margin-bottom: 30px;

    }

    &__content {
        @include flex($j: flex-start);
        flex-wrap: wrap;

    }

    &__link {
        position: relative;
        color: $black;
        text-decoration: none;
        display: block;
        margin-bottom: 30px;
        width: 32%;
        margin-right: 2%;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__texts {
        background: #ededed;
        padding: 15px;
        position: relative;
    }

    &__name {
        margin-bottom: 50px;
    }

    &__price {
        font-size: 12px;
        margin-top: 10px;
        text-align: right;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    &__more {

        display: block;
        margin-top: 50px;
        width: 200px;
        padding: 15px;
        border: 1px solid $black;
        margin: 50px auto 0;
    }

    &__out {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #ffff;
    }

}

//single-------------------------------
//single-------------------------------
//single-------------------------------

.pros {
    &__inner {
        @include inner($w: 75%);
        @include flex();
    }

    &__images {
        width: 40%;
    }

    &__mainimg {
        width: 100%;
    }

    &__subimg {
        @include flex;
        margin-top: 30px;

    }

    &__info {
        width: 55%;
    }

    &__miniimg {
        width: 22%;
    }

    &__maker {
        font-weight: bold;
        color: #888;
    }

    &__name {
        font-size: 24px;

        &-mobile {
            display: block;
        }

        &-window {
            display: none;
        }
    }

    &__prices {
        @include flex($j: flex-start, $a: center);
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
        padding-bottom: 15px;
    }

    &__out {
        margin-left: 10px;
        color: #f00;
    }

    &__price {
        font-size: 24px;
        font-weight: bold;

    }

    &__cart {
        color: #fff;
        text-decoration: none;
        display: block;
        background: $black;
        width: 200px;
        text-align: center;
        padding: 10px 5px 10px 0;
        margin: 20px 0 0;
    }

    &__num {
        border: 1px solid #888;
        border-radius: 5px;
        padding: 0 3px;
        margin-left: 0px;
        font-size: 14px;
        background: #fff;

    }

    &__label {
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #444;

    }

    &__text {
        margin-bottom: 30px;
    }

    &__option {
        background: #efefef;
        padding: 20px;

        &-content {
            @include flex($j: flex-start);
            margin-top: 20px;
        }
    }

    &__colors {
        margin-right: 20px;
        border-right: 1px solid $black;
        padding-right: 20px;
    }

    &__care {
        margin-top: 15px;
        color: #888;

        &-text {
            color: #888;

            &-mail {
                margin-top: 20px;
            }
        }
    }

    &__mail {
        color: #00f;
    }


}

//mobile----------------------------------------------------------------------------
@media(max-width:640px) {

    .header {
        padding-top: 20px;
        margin-bottom: 20px;

        &__list {
            display: none;
        }
    }

    .footer {
        &__inner {
            @include inner($w: 75%);
        }
    }

    .mainv {
        padding-top: 70px;
        margin-bottom: 60px;

        &__title {
            font-size: 40px;
            letter-spacing: 0.1em;
        }
    }

    .items {

        &__inner {
            @include inner();
        }

        &__content {
            justify-content: space-between;
        }

        &__link {
            position: relative;
            color: $black;
            text-decoration: none;
            display: block;
            margin-bottom: 30px;
            width: 45%;
            margin-right: 5%;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        &__span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 0px solid #ffff;
        }
    }

    .pros {
        &__inner {
            @include inner();
            @include flex();
            flex-wrap: wrap;
        }

        &__images {
            width: 100%;
        }

        &__info {
            width: 100%;
        }

        &__name {
            &-mobile {
                display: none;
            }

            &-window {
                display: block;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        &__price {
            margin-top: 0px;
        }

        &__prices {
            margin-top: 20px;
        }
    }
}