---
title: De NIRALE
layout: layout.njk
cssPath: ./css/
imgPath: ./images/
indexPath: index.html
---

<div class="items__inner">
    <div class="items__content">
{% for item in pros %}
<a class="items__link" href="./pros/{{ item.id }}">
<div class="items__pros">
    <img src="./{{imgPath}}/{{item.itemphotos[0]}}" alt="">
	<p> {{ item.name }}</p>
</div>
 </a>
	{% endfor %}
   </div>
</div>
