---
pagination:
  data: pros
  size: 1
  alias: item
permalink: 'pros/{{ item.url | slugify }}/'
layout: layout.njk
cssPath:  ../../css/
imgPath:  ../../images/
indexPath: ../../index.html
---

{{ pagination.items | log }}




<ul>
	<li>{{ item.name }}</li>
	<li>{{ item.url }}</li>
</ul>